{% extends 'layouts/main.twig' %}
{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <div class="display-4 border border-secondary my-3">Welcome to currency converter!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto">
        <a class="btn btn-block btn-outline-secondary" href="/login" role="button">Login</a>
        <a class="btn btn-block btn-outline-secondary" href="/register" role="button">Register</a>
      </div>
    </div>
  </div>
{% endblock %}